.sop-white-icon {
	color: $white;
}

.sop-icon-20 {
	font-size: $icon-20;
}

.sop-icon-30 {
	font-size: $icon-30;
}

.round-btn-overlay {
	border-radius: 50%;
	margin: 0 auto;
	width: 20px;
	height: 20px;
	background: white;
	text-align: center;
}